<h1><%= current_user.country %> <%= current_user.city %> Deposit</h1>

<% unless @shipment.validate_stored?(current_user) %>
  <%= form_tag(deposit_shipment_locations_path) do %>
    <%= hidden_field_tag 'tracking_id', @shipment.tracking_id %>
    <%= submit_tag 'Store' %>
  <% end %>
<% else %>
  <pre>Stored</pre>
<% end %>

<h2>Deposit history</h2>
<ul>
<% @shipment.shipment_locations.each do |location|%>
  <li>Received on <%= location.reception_date%> in <%= location.city%>, <%= location.country%></li>
<% end %>
</ul>

<%= render partial: "_partials/shipment" %>