<h1>Shipment show view</h1>

<li><%= @shipment.tracking_id %></li>
<li><%= @shipment.origin_address %></li>
<li><%= @shipment.destination_address %></li>
<li><%= @shipment.weight %></li>
<li><%= @shipment.reception_date %></li>
<li><%= @shipment.estimated_delivery_date %></li>
<li><%= @shipment.delivered_date %></li>
<li><%= @shipment.freight_value %></li>
<li><%= @shipment.user.username %></li>
<li><%= @shipment.sender.store_name %></li>

<ul><% @shipment.shipment_locations.each do |location|%>
  <li>Received on <%= location.reception_date%> in <%= location.city%>, <%= location.country%></li>
<% end %>
</ul>

<br/>
<% unless @shipment.validate_stored?(current_user)%>
<%= form_tag(deposit_shipments_location_index_path) do %>
  <%= hidden_field_tag 'tracking_id', @shipment.tracking_id%>
  <%= submit_tag 'Check' %>
<% end %>

<% end %>