<h1>Mark shipment as delivered</h1>

<%= form_for [:admin, @shipment] do |f| %>
  <p>
    <%= f.label :delivered_date %><br />
    <%= f.text_field :delivered_date %>
  </p>
  <p>
    <%= f.submit "Mark as Delivered"%>
  </p>
<% end %>

<%= render partial: "_partials/shipment" %>
