<h1>Mark shipment as delivered</h1>

<%= form_for [:admin, @shipment] do |f| %>
  <p>
    <%= f.label :delivered_date %><br />
    <%= f.text_field :delivered_date %>
  </p>
  <p>
    <%= f.submit "Mark as Delivered"%>
  </p>
<% end %>

<h1>Shipment details</h1>

<li><%= @shipment.tracking_id %></li>
<li><%= @shipment.origin_address %></li>
<li><%= @shipment.destination_address %></li>
<li><%= @shipment.weight %></li>
<li><%= @shipment.reception_date %></li>
<li><%= @shipment.estimated_delivery_date %></li>
<li><%= @shipment.delivered_date %></li>
<li><%= @shipment.freight_value %></li>
<li><%= @shipment.user.username %></li>
<li><%= @shipment.sender.store_name %></li>