<h1> Create New shipment </h1>

<%= form_for [:admin, @shipment] do |f| %>
  <ul>
    <% @shipment.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :origin_address %><br />
    <%= f.text_field :origin_address %>
  </p>
  <p>
    <%= f.label :destination_address %><br />
    <%= f.text_field :destination_address %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.label :reception_date %><br />
    <%= f.date_field :reception_date, value: Time.now.strftime("%Y-%m-%d") %>
  </p>
  <p>
    <%= f.label :estimated_delivery_date %><br />
    <%= f.date_field :estimated_delivery_date, value: (Time.now + 2592000).strftime("%Y-%m-%d") %>
  </p>
  <p>
    <%= f.label :freight_value %><br />
    <%= f.text_field :freight_value %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.where(role: "regular").collect {|u| [ u.email, u.id ] } %>
  </p>
  <p>
    <%= f.label :sender_id %><br />
    <%= f.select :sender_id, Sender.all.collect {|s| [ s.email, s.id ] } %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
